.form-password {
    position: relative;

    &__icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: 0.3s;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        &:hover {
            opacity: 0.6;
        }
        &.is-close {
            .form-password__line {
                opacity: 0;
            }
        }
    }
    &__line {
        width: 14px;
        height: 13px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;
    }
    &__input {
        padding-right: 24px;
    }
}
